.footer {
    background: $blue;
    padding: 50px 0;
    .container {
        max-width: 1440px;
        padding: 0 15px;
        margin: 0 auto;
      }
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 992px)  {
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
        }
    }
    
}

#menu-footer-menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 6;
    gap: 20px 40px ;
    flex-wrap: wrap;
    li {
      margin-right: 70px;
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: 992px) {
        margin-right: 0px;
      }
  
      a {
        padding: 5px 20px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 48px;
        text-transform: capitalize;
        color: $white;
        display: block;
        transition: 0.3s all;
        // outline: 1px solid transparent;
        @media screen and (max-width: 992px)  {
          padding: 5px 0;
          line-height: 18px;
        }
        
      }
      &:hover {
        // outline: 1px solid $dark;
       a {
        color: $dark;
       }
      }
    }
  
    .sub-menu {
      display: none;
    }
  }